__pycache__/
archives/mpq/native/build/
archives/mpq/native/lib/
archives/mpq/native/include/
build/
blp/BLP2PNG/build/
blp/BLP2PNG/blp.cpp
blp/PNG2BLP/build/
blp/PNG2BLP/png2blp.cpp
*.pyd
*.so
*.a
*.dylib
*.pdb
